 
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

 <div class="container animated fadeIn" align="justify">

<br>
<h1>Pipes</h1>
<br>

  <p>
    Ejemplo de la utilización de Pipes en angular 7
  </p>

<hr>


<div>
<table class="table">
    <thead class="thead-dark" align="center" >
      <tr> 
        <th scope="col" align="center"  >Numero</th>
        <th scope="col" align="center"  >Variable</th>
        <th scope="col" align="center"  >Pipe</th>
        <th scope="col" align="center"  >Desc.</th>
        <th scope="col" align="center"  >Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td bgcolor="#9FF781" align="center" >{{nombre}}</td>
        <td><b>LowerCase</b></td>
        <td><i>Transforma a minúscula</i></td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td bgcolor="#9FF781" align="center" >{{nombre}}</td>
          <td><b>Uppercase</b></td>
          <td><i>Transforma a mayuscula</i></td>
          <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td bgcolor="#9FF781" align="center" >{{nombre}}</td>
          <b><td>slice0:0:3</td></b>
          <td><i>Substring del string</i></td>
          <td>{{nombre | slice : 0 : 3}}</td>
      </tr>
      <tr>
          <th scope="row">4</th>
          <td bgcolor="#9FF781" align="center" >{{arreglo}}</td>
          <td><b>slice:1:5</b></td>
          <td><i>Substring del string</i></td>
          <td>{{arreglo | slice : 1 : 5}}</td>
      </tr>
    </tbody>
</table>
</div>
  
